<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xml:lang="en" lang="en">

<h:head>
    <title>PrimeFaces Button Example</title>
</h:head>

<body>
    <h:form>

        <p:growl id="growl"  />

        <p:panelGrid columns="3" layout="grid" style="margin:0 auto;width:auto;" >
            <f:facet name="header">
                TMProtoDisplay
            </f:facet>

            <p:panelGrid  columns="8" layout="grid" style="width:auto;horizontal-align:middle">
                <f:facet name="header">
                    Digital Outputs
                </f:facet>
                <p:selectManyCheckbox value="#{buttonView.selectedOutputs}" layout="grid" columns="6"
                                      style="width:auto;" >
                    <f:selectItems value="#{buttonView.outputs}" var="output" itemLabel="#{output}"
                                   itemValue="#{output}" style="horizontal-align: center" />
                    <p:ajax update="growl" listener="#{buttonView.captureOutput}" />
                </p:selectManyCheckbox>
            </p:panelGrid>

            <p:panelGrid columns="4" cellpadding="10" layout="grid" >
                <f:facet name="header">
                    Analog Outputs
                </f:facet>
                <p:row >
                    <h:outputLabel value="SA1: " />
                    <h:inputText id="SA1" size="1" value="#{buttonView.SA1}"  />
                    <p:slider for="SA1" display="SA1"  minValue="0.00" maxValue="5.00"  step="0.01"
                              style="width:100%" />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA2: " />
                    <h:inputText id="SA2" size="1" value="#{buttonView.SA2}" />
                    <p:slider for="SA2" display="SA2"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA3: " />
                    <h:inputText id="SA3" size="1"  value="#{buttonView.SA3}" />
                    <p:slider for="SA3" display="SA3"  minValue="0.00" maxValue="5.00"  step="0.01"
                              style="width:100%"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA4: " />
                    <h:inputText id="SA4" size="1" value="#{buttonView.SA4}" />
                    <p:slider for="SA4" display="SA4"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA5: " />
                    <h:inputText id="SA5" size="1" value="#{buttonView.SA5}" />
                    <p:slider for="SA5" display="SA5"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA6: " />
                    <h:inputText id="SA6" size="1" value="#{buttonView.SA6}" />
                    <p:slider for="SA6" display="SA6"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA7: " />
                    <h:inputText id="SA7" size="1" value="#{buttonView.SA7}" />
                    <p:slider for="SA7" display="SA7"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA8: " />
                    <h:inputText id="SA8" size="1" value="#{buttonView.SA8}" />
                    <p:slider for="SA8" display="SA8"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA9: " />
                    <h:inputText id="SA9" size="1" value="#{buttonView.SA9}"  />
                    <p:slider for="SA9" display="SA9"  minValue="0.00" maxValue="5.00"  step="0.01"
                              style="width:100%" />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA10: " />
                    <h:inputText id="SA10" size="1"  value="#{buttonView.SA10}" />
                    <p:slider for="SA10" display="SA10"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA11: " />
                    <h:inputText id="SA11" size="1" value="#{buttonView.SA11}" />
                    <p:slider for="SA11" display="SA11"  minValue="0.00" maxValue="5.00"  step="0.01"
                              style="width:100%"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA12: " />
                    <h:inputText id="SA12" size="1" value="#{buttonView.SA12}" />
                    <p:slider for="SA12" display="SA12"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA13: " />
                    <h:inputText id="SA13" size="1" value="#{buttonView.SA13}" />
                    <p:slider for="SA13" display="SA13"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA14: " />
                    <h:inputText id="SA14" size="1" value="#{buttonView.SA14}" />
                    <p:slider for="SA14" display="SA14"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA15: " />
                    <h:inputText id="SA15" size="1" value="#{buttonView.SA15}" />
                    <p:slider for="SA15" display="SA15"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="SA16: " />
                    <h:inputText id="SA16" size="1" value="#{buttonView.SA16}" />
                    <p:slider for="SA16" display="SA16"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
            </p:panelGrid>

            <p:panelGrid columns="4" style="width:auto" >
                <f:facet name="header">
                    7 Segment Display
                </f:facet>
                <p:row >
                    <h:outputLabel for="DISP1" value="DISP1: " />
                    <p:inputText id="DISP1" size="1" maxlength="2" value="#{buttonView.display1}" />
                    <h:outputLabel for="DISP2"  value="DISP2: " />
                    <p:inputText id="DISP2" size="1"  maxlength="2" value="#{buttonView.display2}" />
                    <h:outputLabel for="DISP3" value="DISP3: " />
                    <p:inputText id="DISP3" size="1"  maxlength="2" value="#{buttonView.display3}" />
                    <h:outputLabel for="DISP4" value="DISP4: " />
                    <p:inputText id="DISP4" size="1"  maxlength="2" value="#{buttonView.display4}" />
                </p:row>
                <p:row >
                    <h:outputLabel for="DISP5" value="DISP5: " />
                    <p:inputText id="DISP5" size="1"  maxlength="2" value="#{buttonView.display5}" />
                    <h:outputLabel for="DISP6" value="DISP6: " />
                    <p:inputText id="DISP6" size="1"  maxlength="2" value="#{buttonView.display6}" />
                    <h:outputLabel for="DISP7" value="DISP7: " />
                    <p:inputText id="DISP7" size="1"  maxlength="2" value="#{buttonView.display7}" />
                    <h:outputLabel for="DISP8" value="DISP8: " />
                    <p:inputText id="DISP8" size="1"  maxlength="2" value="#{buttonView.display8}" />
                </p:row>
                <p:row >
                    <h:outputLabel for="DISP9" value="DISP9: " />
                    <p:spacer width="8" />
                    <p:inputText id="DISP9" size="1"  maxlength="2" value="#{buttonView.display9}" />
                    <h:outputLabel for="DISP10" value="DISP10: " />
                    <p:inputText id="DISP10" size="1"  maxlength="2" value="#{buttonView.display10}" />
                    <h:outputLabel for="DISP11" value="DISP11: " />
                    <p:inputText id="DISP11" size="1"  maxlength="2" value="#{buttonView.display11}" />
                    <h:outputLabel for="DISP12" value="DISP12: " />
                    <p:inputText id="DISP12" size="1"  maxlength="2" value="#{buttonView.display12}" />
                </p:row>
                <p:row >
                    <h:outputLabel for="DISP13" value="DISP13: " />
                    <p:inputText id="DISP13" size="1"  maxlength="2" value="#{buttonView.display13}" />
                    <h:outputLabel for="DISP14" value="DISP14: " />
                    <p:inputText id="DISP14" size="1"  maxlength="2" value="#{buttonView.display14}" />
                    <h:outputLabel for="DISP15" value="DISP15: " />
                    <p:inputText id="DISP15" size="1"  maxlength="2" value="#{buttonView.display15}" />
                    <h:outputLabel for="DISP16" value="DISP16: " />
                    <p:inputText id="DISP16" size="1"  maxlength="2" value="#{buttonView.display16}" />
                </p:row>
            </p:panelGrid>

            <p:panelGrid columns="1" layout="grid" style="border: none;width:auto" >
                <f:facet name="header">
                    Digital Inputs
                </f:facet>
                ED1
                <p:row style="width:auto" >
                    <h:outputLabel value="(7): " />
                    <p:inputSwitch value="#{selectBooleanView.input1}" />
                    <p:spacer width="10"/>
                    <h:outputLabel value="(6): "  />
                    <p:inputSwitch value="#{selectBooleanView.input2}" />
                    <p:spacer width="10" />
                    <h:outputText  value="(5): "  />
                    <p:inputSwitch value="#{selectBooleanView.input3}" />
                    <p:spacer width="10"/>
                    <h:outputText  value="(4): " />
                    <p:inputSwitch value="#{selectBooleanView.input4}" />
                </p:row>
                <p:row style="width:auto" >
                    <h:outputText value= "(3): " />
                    <p:inputSwitch value="#{selectBooleanView.input5}" />
                    <p:spacer width="10"/>
                    <h:outputText value= "(2): " />
                    <p:inputSwitch value="#{selectBooleanView.input6}" />
                    <p:spacer width="10"/>
                    <h:outputText value= "(1): " />
                    <p:inputSwitch value="#{selectBooleanView.input7}" />
                    <p:spacer width="10"/>
                    <h:outputText value= "(0): " />
                    <p:inputSwitch value="#{selectBooleanView.input8}" />
                </p:row>
                <p:separator />
                ED2
                <p:row style="width:auto" >
                    <h:outputText value="(7): " />
                    <p:inputSwitch value="#{selectBooleanView.input9}" />
                    <p:spacer width="10" />
                    <h:outputText value="(6): " />
                    <p:inputSwitch value="#{selectBooleanView.input10}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(5): " />
                    <p:inputSwitch value="#{selectBooleanView.input11}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(4): " />
                    <p:inputSwitch value="#{selectBooleanView.input12}" />
                </p:row>
                <p:row style="width:auto" >
                    <h:outputText value="(3): " />
                    <p:inputSwitch value="#{selectBooleanView.input13}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(2): " />
                    <p:inputSwitch value="#{selectBooleanView.input14}" />
                    <p:spacer width="10" />
                    <h:outputText value="(1): " />
                    <p:inputSwitch value="#{selectBooleanView.input15}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(0): " />
                    <p:inputSwitch value="#{selectBooleanView.input16}" />
                </p:row>
                <p:separator />
                ED3
                <p:row style="width:auto" >
                    <h:outputText value="(7): " />
                    <p:inputSwitch value="#{selectBooleanView.input17}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(6): " />
                    <p:inputSwitch value="#{selectBooleanView.input18}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(5): " />
                    <p:inputSwitch value="#{selectBooleanView.input19}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(4): " />
                    <p:inputSwitch value="#{selectBooleanView.input20}" />
                </p:row>
                <p:row style="width:auto" >
                    <h:outputText value="(3): " />
                    <p:inputSwitch value="#{selectBooleanView.input21}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(2): " />
                    <p:inputSwitch value="#{selectBooleanView.input22}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(1): " />
                    <p:inputSwitch value="#{selectBooleanView.input23}" />
                    <p:spacer width="10"/>
                    <h:outputText value="(0): " />
                    <p:inputSwitch value="#{selectBooleanView.input24}" />
                </p:row>
            </p:panelGrid>

            <p:panelGrid columns="1" style="width:auto" layout="grid">
                <f:facet name="header">
                    Analog Inputs
                </f:facet>
                <p:row >
                    <h:outputLabel value="EA1: " />
                    <h:inputText id="output1" size="1" readonly="true" value="#{buttonView.value1}"  />
                    <p:slider for="output1" display="output1"  minValue="0.00" maxValue="5.00"  step="0.01"
                              style="width:100%" />
                </p:row>
                <p:row >
                    <h:outputLabel value="EA2: " />
                    <h:inputText id="output2" size="1" readonly="true" value="#{buttonView.value2}" />
                    <p:slider for="output2" display="output2"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="EA3: " />
                    <h:inputText id="output3" size="1" readonly="true" value="#{buttonView.value3}" />
                    <p:slider for="output3" display="output3"  minValue="0.00" maxValue="5.00"  step="0.01"
                              style="width:100%"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="EA4: " />
                    <h:inputText id="output4" size="1" readonly="true" value="#{buttonView.value4}" />
                    <p:slider for="output4" display="output4"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="EA5: " />
                    <h:inputText id="output5" size="1" readonly="true" value="#{buttonView.value5}" />
                    <p:slider for="output5" display="output5"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="EA6: " />
                    <h:inputText id="output6" size="1" readonly="true" value="#{buttonView.value6}" />
                    <p:slider for="output6" display="output6"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="EA7: " />
                    <h:inputText id="output7" size="1" readonly="true" value="#{buttonView.value7}" />
                    <p:slider for="output7" display="output7"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
                <p:row >
                    <h:outputLabel value="EA8: " />
                    <h:inputText id="output8" size="1" readonly="true" value="#{buttonView.value8}" />
                    <p:slider for="output8" display="output8"  minValue="0.00" maxValue="5.00"  step="0.01"  />
                </p:row>
            </p:panelGrid>

        </p:panelGrid>

        <p:spacer width="1" height="25"/>

        <p:commandButton value="Resume " update="display"  onclick="PF('dlg').show()"  icon="ui-icon-check"
                         style="border:none;margin:0 auto" />
        <p:dialog header="Inputs/Outputs States" showEffect="clip" widgetVar="dlg" modal="true"  resizable="false" >
            <p:outputPanel id="display">
                <p:dataList   value="#{buttonView.selectedOutputs}" var="SD"  emptyMessage="No Digital Outputs" >
                    <f:facet name="header">
                        Selected Digital Outputs
                    </f:facet>
                    #{SD}
                </p:dataList>
            </p:outputPanel>
        </p:dialog>

    </h:form>
</body>
</html>
